Exercício pandas e GITHUB

In [1]:
import pandas as pd

In [2]:
In [2]: df = pd.DataFrame({
   ...:     "Nome": ["Meu Primeiro Nome e Sobrenome",
   ...:              "Fulano de Tal",
   ...:              "Aprendendo Pandas"],
   ...:     "Idade": [22, 35, 27],
   ...:     "Software Instalado": ["Sim", "Não", "Sim"]}
   ...: )
   ...:
In [3]: df

                            Nome  Idade Software Instalado
0  Meu Primeiro Nome e Sobrenome     22                Sim
1                  Fulano de Tal     35                Não
2              Aprendendo Pandas     27                Sim

Atividade para a aula de GIT

#### Caso queira saber mais informações sobre a idade de nosso grupo, como proceder?

tentativa 1:

In [91]:
#In[4]: df["Idade"]
#Out[4]:

In [92]:
# Out[4]:

### Dicas

#### Ao selecionar uma única coluna de um DataFramepandas, o resultado é uma sériepandas . Para selecionar a coluna, use o rótulo da coluna entre os suportes quadrados .[]

In [4]: df["Idade"]
Out[4]: 
0    22
1    35
2    37
Name: Age, dtype: int64

Avançando

In [3]:
In [5]: Ages = pd.Series([22, 35, 37], name="Idade")
In [6]: Ages

0    22
1    35
2    37
Name: Idade, dtype: int64

#### Quem tem maior idade em nossa turma?

Podemos fazer isso na seleção da coluna e aplicando:DataFrameAgemax()

In [89]:
#In [7]: df["Ages"].max()
#Out[]:

Ou para o:Series

In [90]:
#In [8]: Ages.max()
#Out[8]: 37

Próximo LAB!